

.card-1{
    flex-direction: column;
    display: flex;
    margin: 6vh;
    margin-left: 2vw;
    margin-right: 2vw;
    width: auto;
    border-radius: 0.2rem;
    border: 1px solid rgba(0, 0, 0, 0.208);
}

.card-2{
    flex-direction: column;
    display: flex;
    margin: 6vh;
    margin-left: 2vw;
    margin-right: 2vw;
    width: auto;
    height: 20vh;
    border-radius: 0.2rem;
    border: 1px solid rgba(0, 0, 0, 0.208);
}

.card-3{
    margin-top: 2rem;
    justify-content: center;
    flex-direction: column;
    display: flex;
    padding-top: 1vh ;
    padding-left: 1.5vw;
    margin-left: 2vw;
    margin-right: 2vw;
    width: auto;
    height: 10vh;
    border-radius: 0.2rem;
    background-color: #f2f2f2;
    border: 1px solid rgba(0, 0, 0, 0.208);
}

.card-3-2{
    flex-direction: column;
    display: flex;
    padding-top: 4vh;
    padding-left: 1.5vw;
    margin-left: 2vw;
    margin-right: 2vw;
    width: auto;
    height: auto;
    border-radius: 0.2rem;
    background-color: #f2f2f2;
    border: 1px solid rgba(0, 0, 0, 0.208);
}

.title{
    margin-left: 1.5rem;
    margin-top: 1.5rem;
    font-size: 17px;
}

.button{
    justify-content: center;
    width: 11vw;
    height: 45px;
    margin-top: 10px;
    margin-left: 62.5vw;
    margin-right: 1vw;
    font-weight: 400;
    color: white;
    background-color: black;
    background-color: #000;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    padding: 10px 20px; /* Ensure consistent padding */
    transition: all 0.3s ease;
}
.delete-toggle-wrapper{
    position: relative;
    display: flex;
    margin-left: 2vw;
    margin-top: 3vh;
    display: flex;
    width: 40px;
    height: 20px;
    cursor: pointer;
    border-radius: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.254);
    background-color: white;
}

.delete-toggle{
    position: absolute;
    height: 19px;
    width: 19px;
    background-color: black;
    border-radius: 1rem;
}

.justify-start{
    justify-content: flex-start;
    background-color: rgba(58, 65, 111, 0.1);
}

.justify-end{
    justify-content: flex-end;
    background-color: #D7BBFF;
    border-color: #AC96CC;
}

.bg-white{
    color: white;
    background-color: white;
}

.green-text{
    background-color: #2da38b;
    color: white;
    border-radius: 0.2rem;
    height: 30px;
    width: 250px;
    text-align: center;
    margin-left: 1rem;
    font-weight: 500;
}

.log-list-dropdown{
    height: auto;
    margin-top: 1rem;
    padding: 0%;
}

.log-list{
    margin-left: 0%;
    margin-left: 0%;
    display: flex;
    flex-direction: row;
}

.log-list-item{
    margin-top: 1rem;
}

.log-list-item-type{
    width: 12vw;
    height: 35px;
    margin-top: 10px;
    padding-top: 1.5%;
    font-weight: 500;
    text-align: center;
    border-radius: 0.2rem;
    color: white;
    background-color: #00939f !important;
}

.underline{
    height: 0.5px;
    margin-top: 1rem;
    background: rgba(0, 0, 0, 0.06);
}

.collaborators-list-bar{
    margin-top: 5vh;
    margin-left: 2vw;
    display: flex;
    flex-direction: row;
}

.collaborators-list{
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 2vw;
    display: flex;
    flex-direction: row;
}
