.container {
    padding: 20px;
    font-family: Arial;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    width: auto;
    height: auto;
    max-width: 100%;
    margin-top: 5%;
    margin-left: 2vw;
    margin-right: 2vw;
    text-align: left;
}

.calendar {
margin-left: 2vw;
}

.addPoolBtn {
    transform: translateY(-100%);
    padding: 10px 20px;
    color: black;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.208);
    cursor: pointer;
    margin-left: 72vw;
    margin-bottom: 1%;
    border-radius: 4%;
}


.poolTable {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

.tableHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-weight: lighter;
    font-size: 14px;
}

.tableRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    margin-top: 10px;
    position: relative;
}

.actions button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 5px;
}

.tableHeader,
.tableRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.625rem;
    font-size: 12px;
    font-weight: lighter;
    position: relative;
}

.dropdownBtn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.dropdownContent {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdownContent a:hover {
    background-color: #f1f1f1;
}

.show {
    display: block;
}

.tableHeader div,
.tableRow div {
    flex: 1;
    font-weight: normal;
}

.title{
    margin-left: 1.5rem;
    margin-top: 1.5rem;
    font-size: 15px;
}

.underline{
    width: 70vw;
    margin: 0%;
    height: 0.5px;
    background: rgba(0, 0, 0, 0.143);
}

.poolsList{
    width: auto;
    padding: 0%;
}

.pools-row{
    width: auto;
    padding: 0%;
}