.container {
    padding: 20px;
    font-family: Arial;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    max-width: 80%;
}

.actions {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
}

.datePicker {
    padding: 10px;
}

.addPoolBtn {
    padding: 10px 20px;
    color: black;
    border: 1px solid black;
    cursor: pointer;
}

.poolTable {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
}

.tableHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-weight: lighter;
}

.tableRow {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    margin-top: 10px;
}

.actions button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 5px;
}

.tableHeader,
.tableRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.625rem;
    font-size: 12px;
    font-weight: lighter;

    position: relative;
}

.tableHeader div,
.tableRow div,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;

}