body {
    display: inline-flex;
    width: 100%;
}

.main-content {
    width: 100%;
    height: 100%;
}

.navbar-aside{
    height: 100vh;
    background-color: #F2F2F2; 
    min-width: 250px;
    padding: 16px;
    padding-left: 24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
}
.navbar-ul{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}