.card{
    text-align: center;
    justify-content: center;
    width: auto;
    height: 32vh;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.208);
    background-color: rgba(227, 225, 225, 0.515);
}

.button{
    text-align: center;
    font-weight: 500;
    font-size: 11px;
    height: 5vh;
    width: 18vw;
    border: none;
    margin-top: 3rem;
    margin-left: 32vw;
    font-size: medium;
    color: white;
    background-color: black;
}

.dashboard{
    width: 44vw;
    height: 25vh;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 0.2rem;
    border: 1px solid rgba(0, 0, 0, 0.208);
    background-color: rgba(255, 255, 255, 0.515);
}

.card-2{
    width: 38vw;
    height: 15vh;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 0.2rem;
    border: 1px solid rgba(0, 0, 0, 0.208);
    background-color: rgba(255, 255, 255, 0.515);
}

.title{
    margin-left: 1rem;
    margin-top: 1rem;
    font-size: 21px;
}

.company-list{
    margin-top: 4vh;
    display: flex;
    flex-direction: row;
}

.logo{
    width: 60px;
    height: 60px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.208);
}

.Logo{
    width: 60px;
    height: 60px;
}

.underline{
    height: 1px;
    background: linear-gradient(to right, rgb(255, 255, 255), #cdc5c5, rgb(255, 255, 255));
}
