.Header{
    display: inline-flex;
    background-color: rgb(242, 242, 242);
    border-color: white;
    cursor: pointer;
    font-weight: bolder;
    width: 100%;
    height: 40px;
}

.HeaderArrow{
    margin-left: 10px;
    margin-right: 10px;
}

.FirstColumn{
    width: 50px;
    margin-right: 23%;
    margin-left: 10px;
}
.FirstColumnTablo{
    width: 50px;
    margin-right: 19vw;
    margin-left: 50px;
}


.Tablo{
    display: inline-flex;
    cursor: pointer;
    font-weight: bolder;
    width: 100%;
    height: 40px;

}