.main-content{
    padding: 0%;
    margin-left: 2vw;
    margin-right: 2vw;
    width: 84vw;
}

.container {
    margin: 0%;
    width: 100%;
    margin-top: 5vh;
    padding: 1rem;
    font-family: Arial, sans-serif;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.194);
}

.main {
    width: 90vw;
    margin: 0 auto;
}

.title {
    transform: translateX(-46.5%);
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.description {
    font-size: 0.875rem;
    color: #666;
    margin-bottom: 2rem;
}

.filters {
    width: auto;
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    align-items: flex-end;
}

.filterItem {
    width: 20vw;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    position: relative;
}

.select,
.input {
    padding: 0.5rem;
    font-size: 0.875rem;
    width: 18vw;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.searchButton {
    width: 10vw;
    height: 40px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background: none;
    border: 1px solid #ddd;
    border-radius: 3px;
    cursor: pointer;
}

.searchButton:hover {
    border: 1px solid black;
}

.addButton {
    justify-content: center;
    width: 11vw;
    height: 45px;
    margin-top: 10px;
    margin-left: 62.5vw;
    margin-right: 1vw;
    font-weight: 400;
    color: white;
    background-color: black;
    background-color: #000;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    padding: 10px 20px; /* Ensure consistent padding */
    transition: all 0.3s ease;
}
